<div class="flex flex-col h-full">
    <label for="output-type">Output type</label>
    <select id="output-type" [(ngModel)]="selectedStrategy"
            (change)="onWritingStrategyChanged(selectedStrategy)">
        <option
            *ngFor="let strategy of writingStrategies | keyvalue"
            [ngValue]="strategy.value">
            {{ strategy.key }}
        </option>
    </select>
    <label for="input">Input</label>
    <textarea id="input" class="h-full outline outline-1" readonly>{{ outputText }}</textarea>
</div>
