<div class="flex space-x-1 h-full">
    <p *ngIf="readObject()"></p>
    <app-converter-input
        (inputTextChanged)="onInputTextChanged($event)"
        (readingStrategyChanged)="onReadingStrategyChanged($event)"
    />

    <!--    <div class="flex flex-col w-1/2">-->
    <!--        <label for="output-type">Output type</label>-->
    <!--        <select id="output-type" formArrayName="outputType" (change)="onWriteStrategyChange()">-->
    <!--            <option *ngFor="let strategy of strategies | keyvalue"-->
    <!--                    [ngValue]="getWriteStrategy(strategy.value)">-->
    <!--                {{ strategy.key }}-->
    <!--            </option>-->
    <!--        </select>-->
    <!--        <label for="output">Output</label>-->
    <!--        <textarea readonly id="output" type="text" class="h-full" formControlName="output">-->

    <!--        </textarea>-->
    <!--    </div>-->
</div>
