<form [formGroup]="converterForm" (ngSubmit)="convert()">
    <label for="input-type">Input type</label>
    <select id="input-type" formArrayName="inputType">
        <option *ngFor="let strategy of strategies | keyvalue"
                [ngValue]="getReadStrategy(strategy.value)">{{ strategy.key }}
        </option>
    </select>
    <label for="input">Input</label>
    <input id="input" type="text" formControlName="input">
    <label for="output-type">Output type</label>
    <select id="output-type" formArrayName="outputType"></select>
    <button type="submit" [disabled]="!converterForm.valid">submit</button>
</form>

{{ output }}
