<div class="flex flex-col h-full">
    <label for="input-type">Input type</label>
    <select id="input-type" [(ngModel)]="selectedStrategy"
            (change)="onReadingStrategyChanged(selectedStrategy)">
        <option
            *ngFor="let strategy of readingStrategies | keyvalue"
            [ngValue]="strategy.value">
            {{ strategy.key }}
        </option>
    </select>
    <label for="input">Input</label>
    <textarea id="input" class="h-full outline outline-1" #inputTextArea
              (input)="onInputTextChanged(inputTextArea.value)"></textarea>
</div>
